@use '../styles/partials/variables' as *;
// COMMON
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap Condensed', sans-serif;
    font-weight: 500;
    text-decoration: none;
}
body{
    width: 100%;
}
.container{
    width: 80%;
    margin: 0 auto;
}
// HEADER
header{
    .container{
        display: flex;
        justify-content: space-between;
    }
    ul{
        display: flex;
        list-style: none;
        text-transform: uppercase;
    }
}
nav{
    height: 50px;
}
a{  
    height: 100%;
    color: $black ;
    padding: 10px;
    
}
a:hover{
    border-bottom: 5px solid $azure ;
}
// MAIN
main{
    width: 100%;
    .up{
        width: 100%;
        background-color: $black;
        color: white;
    }
        .center{
            background-color: $azure  ;
        }
    .down{
        background-color: $darkGrey ;
    }
}
// FOOTER