@use '../styles/partials/variables' as *;

// COMMON
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap Condensed', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

body {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

// HEADER

nav {
    height: 50px;
}

a {
    height: 100%;
    color: $black ;
    padding: 10px;

}

a:hover {
    border-bottom: 5px solid $azure ;
}

// MAIN
main {

    // width: 100%;
    .up {
        width: 100%;
        background-color: $black;
        color: white;
        .bg-img{
            height: 480px;
            background-image: url('./assets/img/jumbotron.jpg');
            background-size: cover;
        }
    }

    .center {
        background-color: $azure;

        li {
            display: flex;
            align-items: center;
            padding: 35px;

            img {
                flex-shrink: inherit;
                height: 70px;
            }

            span {
                font-size: 14px;
                margin: 10px;
                color: $white;
            }
        }

    }

    .down {
        background-color: $darkGrey ;
    }
}

// FOOTER